body {
  margin: 0;
  font-weight: 300;
  background-image: url("f1e0d382-36f7-4bcb-b6cb-77e8f78bd157.gif");
  background-repeat:  no-repeat;
  background-size: cover;
}
  
.container {
  width: 80%;
  margin: 0 auto;
}

header {
    background-color: pink;
    
}
  
header::after {
   content: '';
   display: table;
   clear: both;
 }

.logo {
  float: left; 
  padding: 10px 0;
 }
  
nav {
   float: right;
 }
  
nav ul {
    margin: 0;
   padding: 0; 
   list-style: none;
 }
  
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25 px;
  
  position: relative; 
  }
  
nav a {
    color: pink; 
    text-decoration: none;
    text-transform: uppercase; 
  }
  
nav a: hover {
  color: hotpink;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

    
    
    
    
