header img {
    height: 30px;
}

body {
    height: 125vh;
    font-family: sans-serif;
}

main {
    color: white;
}

header {
    background-color: lightpurple;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}
