body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  /* padding: 30px 20px; */
  text-align: center;
  background-color: Pink;

}

.BGvideo {
position: fixed;
top:0;
right:0;
z-index:-10;
width:100%;
height:100%;
}

h1 {
  padding: 20px 0px 10px 0px;
  color: white;
}

/* mouse over link */
  h1:hover {
      color: hotpink;
    }

a {
color: #69CBBB;
text-decoration: none;
}

/* mouse over link */
  a:hover {
      color: hotpink;
    }

header img {
  height: 80px;
}

header {
  background: white;
}

img {
  display: block;
  margin: 0px auto;
  text-align: center;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.portfolio-item {
margin-top: 60px;
padding: 40px;
background-color: #f7f7f7;
}

.container {
  width: 80%;
  margin: 0 auto;
}
